
<div class="regul">
  <%= form_tag({:controller => "regulations" ,:action => "set"}, :method => "post") do %>
  <%= label_tag(:act, t(:active)) %>
  <%= check_box_tag(:act) %>
  <br>
  <%= hidden_field_tag(:path, path) %>
  <%= label_tag(:th, t(:threshold)) %>
  <%= text_field_tag(:th) %>
  <br>
  <%= label_tag(:hy, t(:hysteresis)) %>
  <%= text_field_tag(:hy) %>
  <br>
  <%= label_tag(:fe, t(:frequency)) %>
  <%= text_field_tag(:fe) %>
  <%= submit_tag(t(:send)) %>
<% end %>
</div>
