%h1= @obj_name 
%h2= @interface
#container{:style => "height: 500px"}
:javascript
  $(function() {
     var opos = new OposClient("#{base_url }","salut",['read','write']);
     opos.set_token(" ");

     opos.get( '/ressources#{obj_name}' ,{'iface' :'#{interface}', 'start_time' : '', 'end_time' : ''}, function(data) { 
      data = [].concat(data, [[Date.now(),null]]);
      Highcharts.setOptions({                                            // This is for all plots, change Date axis to local timezone
               global : {
                   useUTC : false
               }
           });
      // Create the chart
      $('#container').highcharts('StockChart', {
        chart : {
          zoomType: 'xy'
        },

          rangeSelector : {
            buttons: [{
              type: 'hour',
              count: 1,
              text: '1h'
            }, {
              type: 'day',
              count: 1,
              text: '1d'
            }, {
              type: 'month',
              count: 1,
              text: '1m'
            }, {
              type: 'year',
              count: 1,
              text: '1y'
            }, {
              type: 'all',
              text: 'All'
            }],
            inputEnabled: false, // it supports only days
            selected : 4 // all
          },
          navigator : {
            adaptToUpdatedData: false,
            series : {
              data : data
            }
          },

          scrollbar: {
            liveRedraw: false
          },
          title: {
              text: "#{obj_name}"
          },
          xAxis : {
            events : {
              afterSetExtremes : afterSetExtremes
            }
          },          
          series: [{
              name: "#{obj_name}",
              data: data,
              type: 'spline',
              tooltip: {
                valueDecimals: 2
              }
          }]
      });
    });
  });
  /**
   * Load new data depending on the selected min and max
   */
  function afterSetExtremes(e) {
    var opos = new OposClient("#{base_url }","salut",['read','write']);
    opos.set_token(" ");
    var url,
    currentExtremes = this.getExtremes(),
    range = e.max - e.min;
    var chart = $('#container').highcharts();
    chart.showLoading('Loading data from server...');
    opos.get( '/ressources#{obj_name}' ,{'iface' :'#{interface}', 'start_time' : (e.min), 'end_time' : (e.max) }, function(data) {       
      chart.series[0].setData(data);
      chart.hideLoading();
    });
    
  }
