<% content_for :menu_left do %>
  <%= render :partial => "shared/menu_left", :locals => { :path => @rooms.path }%>
<% end %>

<div id="room_navigator">
  <%= link_to "/", "/rooms"%>
  <%  room_split = @rooms.path.split("/")
      room_split.delete_at(0)
      room_split.each_index { |id| %>
        >
        <%= link_to room_split[id], "/rooms/" + room_split[0..id].join("/") %>
      <% } %>
</div>

<% if not @rooms.sensors.empty? %>
<h2><%=t :list_sensors%></h2>

<%  @rooms.sensors.each_pair{ |key, sensor| %>
 <% if @connexion.readable?(sensor.path,session[:user]) %>
   <%= render :partial => "sensors/abstract",:locals => { :sensor => sensor }%>
 <%end%>
 <br>
<%  } %>
<%end%>

<% if not @rooms.actuators.empty? %>
<h2><%=t(:list_actuators)%></h2>

<%  @rooms.actuators.each_pair{ |key, actuator| %>
 <% if @connexion.readable?(actuator.path,session[:user]) %>
   <%= render :partial => "actuators/abstract",:locals => { :actuator => actuator }%>
 <%end%>
 <br>
<%  } %>

<%end%>

