<%= form_for(@actuator) do |f| %>
  <% if @actuator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@actuator.errors.count, "error") %> prohibited this actuator from being saved:</h2>

      <ul>
      <% @actuator.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :room_id %><br />
    <%= f.text_field :room_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
