<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @actuator.name %>
</p>

<p>
  <b>State:</b>
  <%= @actuator.state %>
</p>

<p>
  <b>Room:</b>
  <%= @actuator.room_id %>
</p>


<%= link_to 'Edit', edit_actuator_path(@actuator) %> |
<%= link_to 'Back', actuators_path %>
