<input id="inner_check_#{obj_name.gsub(/\//, '')}_#{interface.gsub(/\./, '')}" class="jquery-checkbox" type="checkbox" onclick="set_#{obj_name.gsub(/\//, '')}_#{interface.gsub(/\./, '')}();"> </input> 
:javascript
  $(document).ready(function() {
    // ":not([safari])" is desirable but not necessary selector
    $('input:checkbox:not([safari])').checkbox();
    $('input[safari]:checkbox').checkbox({cls:'jquery-safari-checkbox'});
    $('input:radio').checkbox();
  });

  var opos_#{obj_name.gsub(/\//, '')}_#{interface.gsub(/\./, '')} = new OposClient("#{ Connect.instance.url}","salut",['read','write']);
    opos_#{obj_name.gsub(/\//, '')}_#{interface.gsub(/\./, '')}.set_token(" ");

    function refresh_#{obj_name.gsub(/\//, '')}_#{interface.gsub(/\./, '')}(){
      opos_#{obj_name.gsub(/\//, '')}_#{interface.gsub(/\./, '')}.get( '/ressources#{obj_name}' ,{'iface' :'#{interface}'}, function(msg) { 
        $("#inner_check_#{obj_name.gsub(/\//, '')}_#{interface.gsub(/\./, '')}").attr('checked',msg.value); 
      });
    };
    refresh_#{obj_name.gsub(/\//, '')}_#{interface.gsub(/\./, '')}();

    $(document).ready(function() {
      setInterval('refresh_#{obj_name.gsub(/\//, '')}_#{interface.gsub(/\./, '')}();',1000);
    });

    function set_#{obj_name.gsub(/\//, '')}_#{interface.gsub(/\./, '')}(){
       var value = $("#inner_check_#{obj_name.gsub(/\//, '')}_#{interface.gsub(/\./, '')}").attr('checked')?false:true;
       opos_#{obj_name.gsub(/\//, '')}_#{interface.gsub(/\./, '')}.post( '/ressources#{obj_name}' ,{'iface' :'#{interface}', 'value':JSON.stringify([value])},function(msg) {
          refresh_#{obj_name.gsub(/\//, '')}_#{interface.gsub(/\./, '')};
         }
        );
     };
