<!DOCTYPE html>
<html>
  <head>
    <title>Rorplacos</title>
    <%= stylesheet_link_tag @style %>*
    <%= stylesheet_link_tag 'blog.css' %>
    <!--[if IE]><%= javascript_include_tag 'excanvas' %><![endif]-->
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'jquery.checkbox.min' %>
    <%= javascript_include_tag 'prototype' %>
    <%= javascript_include_tag 'flotr' %>
    <%= csrf_meta_tag %>
  </head>

  <div id="page">
    <div id="menu">
      <div id="header">
	<div id="logo_div">
	  <a href="/">OpenplacOS</a>
          <!-- <img id="logo" src="/images/logo2.png" WIDTH=300  /> -->
	</div>
      </div>
        <%= render :partial => "shared/menu" %>
    </div>
    <div id="main">
<!--
      <img id="avatar" src="/images/palmtree.png" width="240" />
-->
      <div id="menu_left">
        <%= yield :menu_left %>
<!--
        <img id="tomato_img" src="/images/tomato.png"    width="150"  />
-->
      </div>
      <div id="frame">
        <%= yield %>
      </div>
    </div>
  </div>
  <div id="footer">
  </div>	
</body>
</html>
