<div class="actuator">
  <div class="name">
    <%=  link_to actuator.path, "/actuators#{actuator.path}" %>
  </div>
   <input id="checkbox1" name="checkbox.1.1" type="checkbox"  <%= "checked" if actuator.state=="on" %>  <%= "disabled" if !Opos_Connexion.instance.writeable?(actuator.path,session[:user]) %> onclick="new Ajax.Request('/actuators/call<%=actuator.path%>', { method: 'post', parameters: { method: jQuery('#checkbox1').attr('checked')? 'on' : 'off'} });">
  <div class="state" id="<%=actuator.path%>">
    <%= actuator.state%>
  </div>
</div>

<script type="text/javascript"> 


  new Ajax.PeriodicalUpdater('<%=actuator.path%>', '<%="/actuators#{actuator.path}.json"%>', {
    method: 'get', frequency: 10, decay: 2
  });
  

</script>
