<div class="actuator">
  <div class="name">
    <%=  link_to actuator.path, "/actuators#{actuator.path}" %>
  </div>
  <div class="state" id="<%=actuator.path%>">
    <%= actuator.state%>
  </div>
  <% if Opos_Connexion.instance.writeable?(actuator.path,session[:user]) %>
  <tr>  
  <% actuator.get_methods.each { |m| %>
      <td>
        <%=link_to m, :controller => "actuators" , :action => "call", :method => "post", :path => actuator.path, :meth => m%>
      </td>      
  <% } %>
  </tr>
  <%end%>
</div>

<script type="text/javascript"> 


  new Ajax.PeriodicalUpdater('<%=actuator.path%>', '<%="/actuators#{actuator.path}.json"%>', {
    method: 'get', frequency: 10, decay: 2
  });
  

</script>
