<div class="actuator">
  <div class="name">
    <%=  link_to actuator.path, "/actuators#{actuator.path}" %>
  </div>
   <div class="state_digital" id="<%=actuator.path%>">
   <input id="<%=actuator.path.delete('/')%>_input" name="checkbox.1.1" type="checkbox"  <%= "checked" if actuator.state=="on" %>  <%= "disabled" if !Opos_Connexion.instance.writeable?(actuator.path,session[:user]) %> onclick="new Ajax.Request('/actuators/call<%=actuator.path%>', { method: 'post', parameters: { method: jQuery('#<%=actuator.path.delete('/')%>_input').attr('checked')? 'on' : 'off'} })">
  </div>
</div>

<script type="text/javascript"> 

  setInterval(update_checkbox,5000);
  
  function update_checkbox() {
    new Ajax.Request('<%="/actuators#{actuator.path}.json"%>', {
      method: 'get',  onSuccess: function(transport) {
        var json = transport.responseText; 
        jQuery('#<%=actuator.path.delete('/')%>_input').attr('checked',json=='on');
      }
    });
  }; 

</script>
