<h<%= level %>><%= link_to room.name, "/opos#{room.path}" %></h<%= level %>>
<table>
  <% room.sensors.each do |sensor| %>
    <tr><td><%= sensor.path %></td><td><%= "%.1f" % sensor.value %></td></tr>
  <% end %>
  <% room.actuators.each do |actuator| %>
    <tr><td><%= actuator.path %></td><td><%= actuator.state.upcase %></td>
        <td><%= actuator.methods.reverse.join(' ').upcase %></td></tr>
  <% end %>
  <% room.rooms.each do |oroom| %>
    <tr><td><%= render :partial => "room", :locals => { :room => oroom, :level => level +1 } %></td></tr>
  <% end %>
  </table>

