<% content_for :menu do %>
  <%= render :partial => "shared/menu" , :locals => { :path => @rooms.path }%>
<% end %>

<% content_for :menu_left do %>
  <%= render :partial => "shared/menu_left" , :locals => { :path => @rooms.path }%>
<% end %>

<h1><%=t(:room) + " " + @rooms.path%></h1>

<% if not @rooms.sensors.empty? %>
<h2><%=t :list_sensors%></h2>

<%  @rooms.sensors.each_pair{ |key, sensor| %>
 <%= render :partial => "sensors/abstract",:locals => { :sensor => sensor }%>
 <br>
<%  } %>
<%end%>

<% if not @rooms.actuators.empty? %>
<h2><%=t(:list_actuators)%></h2>


<%  @rooms.actuators.each_pair{ |key, actuator| %>
 <%= render :partial => "actuators/abstract",:locals => { :actuator => actuator }%>
 <br>
<%  } %>

<%end%>

<h2>Listing Rooms</h2>


  
    <% parent = @rooms.path.split("/"); parent.pop ; parent = parent.join("/") + "/"%>
    <tr><td>Parent : <%= link_to parent , "/opos" + parent %></td></tr>
 <% if not @rooms.backend.childs.empty? %>

  <br>
     <td>Childs :</td> 

  <%@rooms.backend.childs.each { |ch| %>
  <td>
    <%= link_to ch.path, "/opos" + ch.path %>
  </td>
  <%}%>

  <%end%>


