<h1>Listing sensors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th>Regulation Status</th>
  </tr>

<%  @rooms.sensors.each_pair{ |key, sensor| %>
<% connexion = Opos_Connexion.instance %>
   <% regul_status = "NA" %> 
   <% if (connexion.is_regul(sensor.backend)) %>
  <% if (connexion.get_regul_iface(sensor.backend).state ) %>
   <%   regul_status = "ON" %>
   <% else %>
   <%   regul_status = "OFF" %>
   <% end %>
   <% end %>
 <tr>
   <td><%=  link_to sensor.path, sensor.path %></td>
   <td><%= sensor.backend.value %></td>
   <td><%=  regul_status %></td>
</tr>
<%  } %>
</table>

<h1>Listing Actuators</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Metods</th>
  </tr>

<%  @rooms.actuators.each_pair{ |key, actuator| %>
<% meth = actuator.backend.methods.keys %>
<% meth.delete("state")%>
<% state = actuator.backend.state[0]["name"] %>
<% if state.nil?%>
<%   state= "NA" %>
<%end%>
<tr>
   <td><%=  link_to actuator.path, actuator.path %></td>
   <td>
   <% meth.each { |m| %>
      <% if m==state %>
        <% color = "green" %>
      <% else %>
        <% color = "white" %>
      <% end %>
   <span style="background:<%=color%>"><%=m + " "%></span>
  <% } %></td>
</tr>
<%  } %>
</table>
