<h1><%=t(:profile)%></h1>
<div id="avatar">
  <img src="<%=get_avatar(user.email)%>"></img>
</div>
login : <%=user.login%></br>
first name : <%=user.first_name%></br>
last name : <%=user.last_name%></br>
email : <%=user.email%></br>
language : <%=user.language%></br>
css : <%=user.style%></br>
</td>

